<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,800,400&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
	<link href='{{ url_for('static', filename='css/style.css') }}' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<h4 class="text-center">Counting work for {{ clientid }}</h4>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading"><h5 class="panel-title">Options</h5></div>
				<div class="panel-body">
					<form id="client_selector" name="client_sel_form" action="/counter" method="post">
					<p><button type="submit" value="{{ clientid }}" name="client_sel" class="btn btn-primary text-center btn-full">Refresh</button></p>
					</form>
					<p><a href="#" class="btn btn-primary text-center btn-full">Force addition</a></p>
					<p><a href="#" class="btn btn-primary text-center btn-full">Generate Table Link</a></p>
					<p><a href="#" class="btn btn-primary text-center btn-full">Change rate</a></p>
					<p><a href="/" class="btn btn-primary text-center btn-full">Select client</a></p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading"><h5 class="panel-title">Counter</h5></div>
				<div class="panel-body">
					<form method="post" action="/count-{{ tbutton }}">
					<input class="{{ note_class }}" name="worknote" placeholder="What were you doing?" >
					<br>
					<p><button type="submit" value="{{ tbutton }}" class="btn {{tbutton_class}} btn-full">{{ tbutton }} working</button></p>
					</form>
					<div class="{{ status_class }}">
					<div class="col-md-6">
						<p>Started at: <b>{{ start_time }}</b></p>
					</div>
					<div class="col-md-6">
						<p>Stopped at: <b>{{ stop_time }}</b></p>
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading"><h5 class="panel-title">Information</h5></div>

				<table class="table">
					<tr>
						<td>Time (month):</td> <td><b>{{ month_time }}</b></td>
					</tr>
					<tr>
						<td>Money (month):</td>
						<td> <b>{{ month_monies }} {{ currency }}</b></td>
					</tr>
					<tr>
						<td>Money (all):</td>
						<td> <b>{{ monies }} {{ currency }}</b></td>
					</tr>
					<tr>
						<td>Time (all):</td>
						<td> <b>{{ time_human }}</b></td>
					</tr>
					<tr>
						<td>Rate:</td>
						<td> <b>{{ rate }}</b> {{ currency }} / hour</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading"><h5 class="panel-title">{{ clientid }} history</h5></div>
				<table class="table table-hover">
					<thead>
						<tr>
						<th>Work started</th>
						<th>Work ended</th>
						<th>Duration</th>
						<th>Note</th>
						</tr>
					</thead>
					<tbody>
						{% for item in work_details %}
					<tr>
						<td>{{ item.dstart }}</td>
						<td>{{ item.dend }}</td>
						<td>{{ item.dtime }}</td>
						<td>{{ item.dnote }}</td>
					</tr>
						{% endfor %}
					</tbody>
				</table>

				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</div>
</body>
</html>
